<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="teste.">
    <meta name="keywords" content="Casamento; Carol e Marcos; Wedding; Núpcias; Congonhal; Minas Gerais">
    <title>Carol e Marcos</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- App CSS -->
    <link href="/css/app.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.css" rel="stylesheet">
    <link href="/css/scrolling-nav.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <link href="/images/logo.png" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-right">
            <a href="/admin/gift" class="btn btn-large btn-primary">Adicionar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <%=JSON.stringify(gifts)%> -->
                    <%gifts.forEach(element => {%>
                        <tr>
                            <td></td>
                            <td><%=element.name%></td>
                            <td><%=element.status%></td>
                            <td>
                                <a href="/admin/gift/<%=element._id%>/delete">Apagar</a> 
                                <a href="/admin/gift/<%=element._id%>">Editar</a> 
                                <%if(element.status == "Marcado"){%>
                                    <a href="#" class="link-dropdown" data-target="<%=element._id%>">
                                        <i id="dropdown-arrow-down" class="glyphicon glyphicon-menu-down pull-right"></i>
                                        <i id="dropdown-arrow-up" class="glyphicon glyphicon-menu-up pull-right"></i>
                                    </a>
                                <%}%>
                            </td>
                        </tr>
                        <%if(element.person){%>
                            <tr class="element-dropdown" data-visible="hide" id="<%=element._id%>">
                                <td></td>
                                <td><%=element.person.name%></td>
                                <td><%=element.person.email%></td>
                                <td><%=element.person.phone%></td>
                            </tr>
                        <%}%>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>

    <!-- footer close -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/navigation.js" type="text/javascript"></script>
    <script src="/js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/scrolling-nav.js"></script>

    <script src="/js/manageGifts.js"></script>
</body>

</html>